.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
}
 
.is-done {
  opacity: 0.5;
}

/* .app > div {
  margin-right: 50px;
} */

/* .task {
  font-weight: bold;
}

.task-done{
  opacity: 0.5;
  text-decoration: line-through;
}

.filter-btn-active {
  background-color: rgb(17, 140, 56);
  border: 2px solid rgb(17, 140, 56);
  color: white;
}

.inputError {
  border: 2px solid red;
  outline: none;
} */